{% extends "base.html" %}
{% block content %}

<h2 class="mb-4 text-center">College Blood Donor Registration</h2>

{% if error %}
<div class="alert alert-danger text-center">
    {{ error }}
</div>
{% endif %}

<div class="card shadow p-4 mx-auto" style="max-width:600px;">

<form method="POST">

<div class="mb-3">
<label class="form-label">Full Name</label>
<input type="text" name="name" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">ERP ID (11 digits)</label>
<input type="text" name="erp_id" class="form-control" maxlength="11" required>
</div>

<div class="mb-3">
<label class="form-label">Department</label>
<select name="department" class="form-control" required>
<option>CSE</option>
<option>ECE</option>
<option>ME</option>
<option>CE</option>
<option>EEE</option>
</select>
</div>

<div class="mb-3">
<label class="form-label">Year</label>
<select name="year" class="form-control" required>
<option>1st Year</option>
<option>2nd Year</option>
<option>3rd Year</option>
<option>4th Year</option>
</select>
</div>

<div class="mb-3">
<label class="form-label">Blood Group</label>
<select name="blood_group" class="form-control" required>
<option>A+</option><option>A-</option>
<option>B+</option><option>B-</option>
<option>O+</option><option>O-</option>
<option>AB+</option><option>AB-</option>
</select>
</div>

<div class="mb-3">
<label class="form-label">Phone Number</label>
<input type="text" name="phone" class="form-control" required>
</div>

<button class="btn btn-danger w-100">Register</button>

</form>
</div>

{% endblock %}