{% extends "base.html" %}
{% block content %}

<div class="text-center py-5 animate__animated animate__fadeInDown">
    <h1 class="display-4 fw-bold text-danger">Emergency Blood Support</h1>
    <p class="lead">Connecting donors with patients instantly using smart location tracking.</p>

    <div class="mt-4">
        <a href="/search" class="btn btn-danger btn-lg me-3 shadow">Find Nearest Donor</a>
        <a href="/register" class="btn btn-outline-danger btn-lg shadow">Become a Donor</a>
    </div>
</div>

<div class="row text-center mt-5">
    <div class="col-md-4">
        <div class="card shadow p-4 glass animate__animated animate__zoomIn">
            <h4>📍 GPS Based</h4>
            <p>Find donors near your exact location instantly.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-4 glass animate__animated animate__zoomIn">
            <h4>⚡ Fast Matching</h4>
            <p>Smart distance-based donor sorting.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-4 glass animate__animated animate__zoomIn">
            <h4>🔐 Secure System</h4>
            <p>Admin protected & safe authentication.</p>
        </div>
    </div>
</div>

{% endblock %}
